* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}
header {
  padding: 20px;
  background-color: brown;
  width: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
header button {
  padding: 10px 25px;
  background-color: bisque;
  border-radius: 20px;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
}

footer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: brown;
  color: #fff;
}
.cardStyle {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.name-style {
  position: absolute;
  bottom: 65px;
  left: 10px;
  color: #fff;
}

img {
  width: 100%;
}
.text {
  padding-top: 10px;
  text-align: center;
}

.wrapper-text {
  border-bottom: 1px solid rgb(121, 118, 118);
  border-right: 1px solid rgb(121, 118, 118);
  border-left: 1px solid rgb(121, 118, 118);
  width: 100%;
}

.modalWrap {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalSection {
  position: relative;
  display: flex;
  background-color: beige;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  padding: 50px;
  z-index: 2;
  border-radius: 20px;
}

.right {
  padding-left: 50px;
}
.right li {
  padding-top: 5px;
}

.modalSection span {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.modalSection button {
  margin: 40px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: saddlebrown;
  color: #fff;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}
.list .cardStyle {
  flex-direction: row;
  width: 100%;
}
.list img {
  width: 50%;
}
.list .wrapper-text {
  background-color: beige;
  margin: 50px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
}
.list span{
  bottom: 10px;
}